# تجاهل فولدرات المنصات بالكامل من حسابات لغة المشروع
android/* linguist-vendored
ios/* linguist-vendored
web/* linguist-vendored
windows/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored

# التأكيد على أن ملفات Dart هي الأساسية ومكتوبة بواسطة المستخدم
*.dart linguist-detectable=true

*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.html linguist-detectable=false
